<div class="top-container">

  <div class="top-logo">

    <%= image_tag '/images/puchu_white.png', :size =>'400x180', :alt => 'Puchu!' %>

  </div>

  <div class="buy-ticket-image">
    <%= link_to root_path do %>
      <%= image_tag '/images/buy_ticket.png', :size =>'160x160', :alt => 'Ticket' %>
    <% end %>
  </div>

</div>
