@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes.scss";
@import "items.scss";
@import "reservations.scss";
@import "users.scss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic', Avenir, Corbel, Osaka, sans-serif;
}

body {
  // background-color: #fafafa;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}



// homes#top
.top-container {
  width: 100vw;
  height: 100vh;
  background: image-url('/images/puchu-uchu.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-my-page {
  width: 160px;
  height: 48px;
  position: absolute;
  top: 4%;
  right: 2%;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0;
    transition: 0.3s;
  }
}

.top-my-page-green {
  width: 160px;
  height: 48px;
  position: absolute;
  top: 4%;
  right: 2%;
  opacity: 0;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}



.top-logo {
  // width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}



.buy-ticket-thin {
  position: absolute;
  bottom: 2%;
  right: 2%;
  opacity: 1;
  transition: 0.7s;

  &:hover {
    opacity: 0;
    transition: 0.7s;
  }
}

.buy-ticket-thick {
  position: absolute;
  bottom: 2%;
  right: 2%;
  opacity: 0;
  transition: 0.7s;

  &:hover {
    opacity: 1;
    transition: 0.7s;
  }
}


// .buy-ticket-image {
//   // width: auto;
//   position: absolute;
//   bottom: 2%;
//   right: 2%;

//   .buy-ticket-thin {
//     opacity: 1;
//   transition: 0.3s;

//     &:hover {
//       opacity: 0;
//     }
//   }

//   .buy-ticket-thick {
//     opacity: 0;
//   transition: 0.3s;

//     &:hover {
//       opacity: 1;
//     }
//   }
// }
