@import "bootstrap-sprockets";
@import "bootstrap";
@import "homes.scss";
@import "items.scss";
@import "reservations.scss";
@import "users.scss";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic', Avenir, Corbel, Osaka, sans-serif;
  color: #191970;
  letter-spacing: 1px;
}

body {
  // background-color: #fafafa;
}

li {
  list-style: none;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}



// homes#top
.top-container {
  width: 100vw;
  height: 100vh;
  background: image-url('/images/puchu-uchu.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-my-page {
  width: 160px;
  height: 48px;
  position: absolute;
  top: 4%;
  right: 2%;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0;
    transition: 0.3s;
  }
}

.top-my-page-green {
  width: 160px;
  height: 48px;
  position: absolute;
  top: 4%;
  right: 2%;
  opacity: 0;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
}



.top-logo {
  // width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}



.buy-ticket-thin {
  position: absolute;
  bottom: 2%;
  right: 2%;
  opacity: 1;
  transition: 0.7s;

  &:hover {
    opacity: 0;
    transition: 0.7s;
  }
}

.buy-ticket-thick {
  position: absolute;
  bottom: 2%;
  right: 2%;
  opacity: 0;
  transition: 0.7s;

  &:hover {
    opacity: 1;
    transition: 0.7s;
  }
}



// items#index

.items-header {
  width: 100vw;
  height: 260px;
  background-color: #fffaf0;
  position: relative;

  .items-header-logo {
    position: absolute;
    top: 24px;
    left: 36px;
  }

  .items-title {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .items-subtitle {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.items-notice {
  padding: 60px;

  .items-notice-title, {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .items-notice-box {
    width: 900px;
    // height: 200px;
    max-width: 99%;
    background-color: #fffaf0;
    border-radius: 5%;
    margin: 60px auto;
    padding: 30px 60px;

    .items-notice-subtitle {
      font-size: 20px;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }

    h5 p {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.2em;
      margin-bottom: 30px;
    }

    h6 ul {
      font-size: 13px;
      line-height: 30px;
      margin-left: 20px;

      li::before {
        position: relative;
        // top: -2px;
        left: -20px;

        display: inline-block;

        width: 6px;
        height: 6px;

        content: '●';
      }
    }
  }
}

.items-calendar {

  .items-calendar-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .items-calendar-subtitle {
    font-size: 20px;
    text-align: center;
    // letter-spacing: 3px;
    margin-bottom: 30px;
  }
}







// admin
.admin-add-item {
  width: 25%;
  margin-left: 20px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 3%;
}
.field {
  margin: 15px;
}